<!DOCTYPE html>
<html>
  <head>
    <title>RmmvOL</title>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache" />   
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="icon" href="icon.png" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
  </body>
</html>