#dva-app {width: 100%;}

/* toolbar tiem 分割线 */
.split-vertical-line {
	width: 0px; 
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	margin-left: 10px; 
	margin-right: 10px;
}

.tilemap-grid {
	width: 32px; height: 32px;
}

.area { 
	border: 1px solid white; border-radius: 4px; background-color: #b2c5da; 
	padding: 5px;
	.title { text-size: 10px; }

}


.cycle-layer {
	width: 100%; border: 1px solid #7a8088;
	position: relative;

	.back { 
		width: 100%; position: absolute; z-index: 0;
	}
	.content { 
		width: 100%; position: absolute; z-index: 1; overflow-y: auto;
	}
}

