#container-wrapper {
	#container-tool-area {
		width: 257px;
		#container-tool-tileset-wrapper {
			#container-tool-tileset {
				border-width: 1px;
				border-style: solid;
				border-left: none;
				overflow-y: auto;
				background-image: url(../../images/tileset-back-grid.png);
				background-repeat: repeat;
			}
			#container-tool-tileset-layer-tabs {
				height: 30px;
				a {
					height: 28px; line-height:28px; 
					border-width: 1px;
					border-style: solid;
					border-top: none; width: 40px; 
					text-align: center;
					cursor: pointer; border-right:none;
				}
				a:last-child { border-right-width: 1px; border-right-style:solid; }
			}
		}
		#container-tool-maptree-wrapper {
			background-color: #fff;
			border-width: 1px; 
			border-style: solid;
			border-left: none;
			overflow-x: auto;
			overflow-y: auto;

			ul {
				li:first-child { 
					font-weight: 900;
					img { height: 13px; padding-right: 4px; } 
				}
				li {
					padding-left: 5px; font-size: 11px; height: 24px;
				 	background-color: #fff;
				 	a.map-tree-expansion { width: 12px; height: 12px; line-height: 12px; display: block; border: 1px solid #888; text-align: center; color: #888; cursor: pointer; margin-right: 8px; }
					a.map-tree-expansion-blank { width: 22px; height: 12px; }
					img { height: 14px; padding-right: 4px; }
				}
			}
		}
	}
	#container-map-area {
		border-width: 1px; 
		border-style: solid;
		border-right: none;
	}
}