#header-wrapper {

	width: 100%; height: 44px;

	#header-proj {
		text-align: center;
		width: 120px;
	}
	#header-toolbar {
		margin-left: 20px;
		.split-vertical-line { height: 32px; }
		a.active {
			margin-left: 5px;
			width: 32px; height: 34px;
			border-width: 1px;
			border-style: solid; 
			border-radius: 4px;
		}
		a {
			cursor: pointer;
			margin-left: 5px;
			width: 34px; height: 34px;
			text-align: center;

			&:hover {
				@extend a.active;
			}

			img { height: 28px; width: 28px; margin-top: 3px; }
		}
		a.disable {

		}
	}
	#header-user {
		margin-right: 20px;
	}
}