#header-wrapper {

	width: 100%; height: 44px; background-color: #d9e5f3; border-bottom: 1px solid #7a8088;

	background: rgb(228,240,255);
	background: -moz-linear-gradient(top,  rgba(228,240,255,1) 0%, rgba(208,219,232,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(228,240,255,1) 0%,rgba(208,219,232,1) 100%);
	background: linear-gradient(to bottom,  rgba(228,240,255,1) 0%,rgba(208,219,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0ff', endColorstr='#d0dbe8',GradientType=0 );

	#header-proj {
		text-align: center;
		width: 120px;
	}
	#header-toolbar {
		margin-left: 20px;
		.split-vertical-line { height: 32px; }
		a.active {
			margin-left: 5px;
			width: 32px; height: 34px;
			border: 1px solid #7a8088; 
			border-radius: 4px; background-color: #ffffff; 
		}
		a {
			cursor: pointer;
			margin-left: 5px;
			width: 34px; height: 34px;
			text-align: center;

			&:hover {
				@extend a.active
			}

			img { height: 28px; width: 28px; margin-top: 3px; }
		}


		a.disable {

		}
	}
	#header-user {
		margin-right: 20px;
	}
}